doctype html
head
  meta(charset='UTF-8')
  link(rel='stylesheet' href='/src/css/jeu.css')
  title Quiz Multi joueurs
header
  h1 Quiz Multi Joueurs
  ul
    li
      a(href='') Meilleurs Joueurs / Scores
    li
      a#restart(href='#') Rejouer