include includes/head.pug




form#formulaire(action='/auth' method='post')
    fieldset#bordure
        label(for='name') Nom
        br 
        input#nameJ1(type='text' name='identifiant')
        br
        label(for='mdp') Mot de passe
        br
        input#mdp(type='password' name= 'mdp')
        br
        input(type='submit' value='Jouer')
p= message



include includes/