include includes/head.pug




form(action='' method='get')
    label(for='name') Nom
    input#nameJ1(type='text' name='name')
    label(for='mdp') Mot de passe
    input#mdp(type='password' name= 'mdp')
    input(type='submit' value='Jouer')