include includes/head.pug

section
  #fenetreDeJeu
    #numQuestion Question 1
    #theme theme
    #question Emplacement de la question
    #reponseA reponse a
    #reponseB reponse b
    #reponseC reponse c
    #reponseD reponse d
    #anecdote



    