includes head.pug

section
  #formulaire
    form(action='' method='post')
      label(for='name') Nom
      input#nameJ1(type='text' name='name')
      input(type='submit' value='Jouer')
  #fenetreDeJeu
    #numQuestion Question 1
    #theme theme
    #question Emplacement de la question
    #reponseA re;ponse a
    #reponseB r&eacute;ponse b
    #reponseC reponse c
    #reponseD reponse d
    #anecdote