include includes/head.pug


p=present
img#avatarfinal(src=image alt='')
p Score : 
  span#score1 0

input#bouttonStart(type="button")

section
  #fenetreDeJeu
    //- #numQuestion=question.id
    #theme
    #question
    #reponseA
    #reponseB
    #reponseC
    #reponseD
    #responseFinale
    #anecdote


script(src="/js/back.js")
include includes/footer.pug    