include includes/head.pug

//- form#createRoom(action="/room" method="POST" name="fileinfo")
//-     label(for="creer") Créer une partie
//-     br
//-     input(type="text" name="roomname" placeholder="Nom de la partie")
//-     input(type="submit")


form(action="/game" method="POST" name="partie 1")
  label(for='partie1')  Partie 1 
  input#partieUne(type='submit' value='Rejoindre')
form(action="/game" method="POST" name="partie 2")
  label(for='partie2')  Partie 2 
  input#partieDeux(type='submit' value='Rejoindre')
form(action="/game" method="POST" name="partie 3")
  label(for='partie3')  Partie 3 
  input#partieTrois(type='submit' value='Rejoindre')
form(action="/game" method="POST" name="partie 4")
  label(for='partie4')  Partie 4 
  input#partieQuatre(type='submit' value='Rejoindre')
form(action="/game" method="POST" name="partie 5")
  label(for='partie5')  Partie 5
  input#partieCinq(type='submit' value='Rejoindre')
form#startGame(action="/game" method="POST" name="fileinfo")
  input#roomName(type="text")  
  input#boutonStart(type="submit" value="Rejoindre")


script(src="/js/back.js")
include includes/footer.pug