include includes/head.pug

//- form#createRoom(action="/room" method="POST" name="fileinfo")
//-     label(for="creer") Créer une partie
//-     br
//-     input(type="text" name="roomname" placeholder="Nom de la partie")
//-     input(type="submit")

div#allForm
  form(action="/game" method="POST" name="partie 1")
    //- label(for='partie1')  Partie 1 
    input#partieUne(type='submit' value='Partie 1')
  form(action="/game" method="POST" name="partie 2")
    //- label(for='partie2')  Partie 2 
    input#partieDeux(type='submit' value='Partie 2')
  form(action="/game" method="POST" name="partie 3")
    //- label(for='partie3')  Partie 3 
    input#partieTrois(type='submit' value='Partie 3')
  form(action="/game" method="POST" name="partie 4")
    //- label(for='partie4')  Partie 4 
    input#partieQuatre(type='submit' value='Partie 4')
  form(action="/game" method="POST" name="partie 5")
    //- label(for='partie5')  Partie 5
    input#partieCinq(type='submit' value='Partie 5')
  form#startGame(action="/game" method="POST" name="fileinfo")
    label(for="partie perso") Partie Personnalisé
    br
    input#roomName(type="text")  
    input#boutonRejoindre(type="submit" value="Rejoindre")


script(src="/js/back.js")
include includes/footer.pug