include includes/head.pug

form#createRoom(action="/room" method="POST" name="fileinfo")
    label(for="creer") Créer une partie
    br
    input(type="text" name="roomname" placeholder="Nom de la partie")
    input(type="submit")

form#startGame(action="/start" method="POST" name="fileinfo")
    input(type="submit")

//- div
//-     p Parties en cours
//-     br
//-     p Partie Une    
//-         button Rejoindre
    
include includes/footer.pug