include includes/head.pug

form#createRoom(action="/room" method="POST" name="fileinfo")
    label(for="creer") Créer une partie
    br
    input(type="text" name="roomname" placeholder="Nom de la partie")
    input(type="submit")



include includes/footer.pug